_build/*
DarwinX86/*
eups/*
EuåsBuildDir/*
site/*
ups_db/*
eupsbuild.log
loadLSST.*
newinstall.sh
Untitled.ipynb
Untitled1.ipynb
.ipynb_checkpoints/*
.sconf_temp/*
.sconsign.dblite
*.pyc
sims_maf_contrib/*
lsst_dm/*
